body {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-link-spacing {
    margin-right: 25px;
}