/* .small-cell {
    min-width: 25px;
    padding: 4px;
    border: 1px solid #0d0e0d;
  }
  
  .border-end {
    border-right: 2px solid #141414;
  }

  .label-fett {
    font-weight: bold;
  } */
  
/*   .minuten-tabelle {
  width: 100%;
  font-size: 0.75rem; /* kleinerer Text */
  /* table-layout: fixed;
} */

/* .minuten-tabelle th,
.minuten-tabelle td {
  padding: 0.3rem; /* weniger Padding */
  /* text-align: center;
  vertical-align: middle;
  white-space: nowrap;
} */ */

/* .container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
 */ */